body {
    font-family: 'Barbra Condensed', sans-serif;
    background-color: #035FA5;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #CB950F;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: #ffffff;
    margin: 0 1rem;
    text-decoration: none;
}

.container {
    padding-top: 120px; /* Space for the fixed header */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.section h2 {
    color: #CB950F;
}

/* Aggiunta regola per il titolo del sito */
.title {
    flex: 1;
    text-align: center;
}
